<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.collection_select :story_id, Story.all, :id, :title %>
  <%= f.submit %>
<% end %>
