<div class="ui center card userprofilecontainer" style="margin: auto;">
  <div class="content">
    <div class="header usernamebanner"><%= @user.username %></div>
    <div class="meta"><%= @user.name %> | <%= @user.age %></div>
    <div class="content">
      <div class="description"> <%= @user.bio %> </div>
      <% if @user == current_user %>
        <div class="meta link"><%= link_to 'Edit Profile', edit_user_path(@user) %></div>
      <% end %>
    </div>
  </div>
</div>


<% if @user.stories.count > 0 %>
  <h2><%= "#{@user.username}'s Stories" %></h2>
  <ul>
    <div class="ui cards storycards profilepage">
      <% @user.stories.each do |story| %>
      <div class="card">
        <div class="content">
          <div class="header"><%= link_to story.title, story %></div>
          <div class="meta link"><%= link_to story.user.username, story.user %>| <%= link_to story.location.neighborhood, story.location %></div>
          <div class="description">
            <% if story.content.length > 100 %>
            <%= "#{story.content[0,100]}..." %>
            <% else %>
            <%= "#{story.content}" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </ul>
<% else %>
  <h2><%= link_to 'Write Your First Story', new_story_path %></h2>
<% end %>

<% if @user.comments.count > 0 %>
  <h2><%= "#{@user.username}'s Comments" %></h2>
  <ul>
    <div class="ui cards storycards profilepage">
      <% @user.comments.each do |comment| %>
      <div class="ui card commentcard">
        <div class="content">
          <div class="header"><%= link_to comment.story.title, comment.story %></div>
          <div class="meta link"><%= link_to comment.user.username, comment.user %> | <%= comment.created_at.strftime("%B %d, %Y") %> </div>
          <div class="description">
            <% if comment.content.length > 100 %>
            <%= "#{comment.content[0,100]}..." %>
            <% else %>
            <%= "#{comment.content}" %>
            <% end %>
          </div>
          <% if @user.username == logged_in? ? current_user.username : nil %>
          <%= link_to 'Delete', comment, method: :delete %> | <%= link_to 'Edit', edit_comment_path %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </ul>
<% end %>

<% if @user == current_user %>
  <a class="ui button deletebutton" rel="nofollow" data-method="delete" href="/users/current_user">Delete Profile</a>
<% end %>
