<h1><%= @user.username %></h1>

<h2><%= @user.name %> | <%= @user.age %></h2>

<div> <%= @user.bio %> </div>

<h2><%= "#{@user.username}'s Stories:" %></h2>
<ol>
<% @user.stories.each do |us| %>
  <li><%= link_to us.title, us %></li>
  <%= link_to us.location.neighborhood, us.location %>
  <%= link_to 'Delete', us, method: :delete %> | <%= link_to 'Edit', edit_story_path %>
<% end %>
</ol>

<%= link_to "Home", stories_path %>
