<h1>aNYCdotes</h1>

<% if logged_in? %>
  <%= link_to "Sign Out", sessions_path, method: :delete %> | <%= link_to "Profile", user_path(session[:user_id]) %>
<% else %>
  <%= link_to "Sign In", login_path %> | <%= link_to "Sign Up", new_user_path %>
<% end %>

<ul>
  <% @stories.each do |story| %>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header"><%= link_to story.title, story %></div>
        <div class="meta"><%= link_to story.location.neighborhood, story.location %></div>
        <div class="description">
          <% if story.content.length > 100 %>
            <%= "#{story.content[0,100]}..." %>
          <% else %>
            <%= "#{story.content}" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Comments", story %>
    </div>
  </div>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to "New Story", new_story_path %>
<% else %>
  <%= link_to "You Must Sign In To Add a New Story", login_path %>
<% end %>

 | <%= link_to "All Users", users_path %> | <%= link_to "All Locations", locations_path %>
