<div class="hero-image">
  <div class="hero-text">
    <h1 class="anycdotes">aNYCdotes</h1>
  </div>
</div>

<ul>
  <div class="ui cards storycards">
  <% @stories.each do |story| %>
    <div class="card">
      <div class="content">
        <div class="header"><%= link_to story.title, story %></div>
        <div class="meta"><%= link_to story.user.username, story.user %>| <%= link_to story.location.neighborhood, story.location %></div>
        <div class="description">
          <% if story.content.length > 100 %>
            <%= "#{story.content[0,100]}..." %>
          <% else %>
            <%= "#{story.content}" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</ul>
