<div class="ui center card userprofilecontainer" style="margin: auto;">

  <div class="header usernamebanner"><%= @story.title %></div>
  <% if @story.user %>
    <div class="meta content"><%= link_to @story.user.username, @story.user %> | <%= link_to @story.location.neighborhood, @story.location %></div>
  <% else %>
    <div>This user has deleted their profile.</div>
  <% end %>

  <p class="content"> <%= @story.content %> </p>

  <div  class="content">
    <div>Tags:</div>
      <% @story.tags.uniq.each do |tag| %>
        <div> <%= link_to tag.tag_name, tag %> </div>
      <% end %>
  </div>

  <div class="content meta link">
    <%= link_to "Edit Story", edit_story_path %>
    <div class="ui button deletebutton topnav-right"><%= link_to 'Delete', @story, method: :delete %></div>

  </div>
</div>

<div class="ui card commentcard commentonstory">
  <div class="content">
    <h2>Comments</h2>
    <%= render partial: "comments/form" %>
  </div>

  <% if @story.comments %>
      <% @story.comments.reverse.each_with_index do |comment, idx| %>
      <div class="ui card content commentcard storycomments commentonstory individualcomment">
        <div class="ui content"><%= comment.content %>
          <div class="meta link"><%= link_to comment.user.username, user_path(comment.user) %> | <%= comment.created_at.strftime("%B %d, %Y") %></div>
             <% if current_user == comment.user %>
               <div class="meta link topnav-right"><%= link_to 'Delete', comment, method: :delete %> | <%= link_to 'Edit', edit_comment_path(comment) %></div>
             <% end %>
         </div>
       </div>
      <% end %>
  <% end %>
</div>
