<!DOCTYPE html>
<html>
  <head>
    <title>Anycdotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <title>BROOKE LOVES CSS</title>
    <link rel="stylesheet" href="./style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
